body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("R1904K_MARVEL_A-1024x1024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #333;
}

p {
    color: #777;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #444;
}

/* Media Query for Tablets and Desktops */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
